.footer {
	background: #ffba55;
	padding: 1.5rem 0;
	/*margin-top: 2.5rem;
*/}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}

.social-icons li {
	list-style-type: none;
	padding: 0 1rem;
} 

.social-icons li a {
	color: #000;
	font-size: 1.25rem;
}

.footer .menu {
	padding-top: 1rem;
	padding-left: 0;
}

.footer .menu li a {
	color: #000;
	padding: 0 0.75rem;
	font-size: 0.9rem;
}

@media (max-width: 592px) {
	.footer .menu li a {
		padding: 0 0.5rem;
		font-size: 0.8rem;
	}

	.social-icons {
		max-width: 75%;
		margin: 0 auto;
	}
}